.bg-custom {
    background-color: rgb(36, 36, 36);
}

.collapse a {
    color: #fff;
}

.navbar-nav .nav-item .nav-link.active {
    color: #fff;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ff9900;
    transition: color 0.3s;
}


.btn-custom:hover {
    background-color: #fccb83;
}

.btn-custom {
    background-color: #f4732a;
    color: #ffffff;

}

.container h4,h1{
    color: #000;
}
footer p{
    color: #000;
}

section.iniciofundo {
    background-color: rgb(36, 36, 36);
}

.textoinicial{
   color: #fff;
}
section.carouselfundo {
   background-color: #fff;
}


body {
    background-image: url('../css/Infoway/fundocodes.jpg');
    background-position: center;
    background-size: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
}