/* Navbar */
.navbar {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.collapse a {
    color: #fff;
    font-family: 'Staatliches', sans-serif;
}

.navbar-nav .nav-item .nav-link.active {
    color: #fff;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ff9900;
    transition: color 0.3s;
}


.btn-custom:hover {
    background-color: #fccb83;
}

.bg-custom {
    background-color: rgb(36, 36, 36);
}

/* Button do Main */

.btn-custom {
    background-color: #f4732a;
    color: #ffffff;
    font-family: 'Staatliches', sans-serif;

}



/* Sobre */


 .card{
    width: 1000px;
    background-color: #f4732a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: auto;
    bottom: 20px;
}

.card-equipe h1{
    font-family: 'Staatliches', sans-serif;
    color: #fff;
}
.card h1{
    font-family: 'Staatliches', sans-serif;
    color: #fff;
}
.card p{
    font-size: large;
    font-style: italic;
    color: #fff;
}
.card-equipe p{
    font-size: large;
    font-style: italic;
    color: #fff;
}

.card-equipe {
    width: 600px;
    background-color: #f4732a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    float: right;
}

.imagex {
    padding: 20px;
    flex: 1;

}


/* Cor das fontes do Index */

.container h4,
h1 {
    color: #000;
}

.textinicial {
    color: #000;
}

/* Footer */

.footer {
    color: #fff;
}

/* Sections do Index */

.textinicio2 h1 {
    color: #fff;
    font-family: 'Staatliches', sans-serif;
}

.textinicio {
    flex: 1;
    padding: 1.5rem;
}

.imageinicio {
    flex: 1 1 700px;
    padding: 1, 5rem;
}

.iniciofundo {
    align-items: center;
    display: flex;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.carouselfundo {
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Cursos */

.btn{
    padding: 10px 38px;
    background-color: #f4732a;
    font-weight: 500;
    font-size: 18px;
    border: none;
    transition: 1s;
    color: #fff;
    cursor: pointer;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.btn:hover{
    transition: 1s;
    background-color: #e25c0f;
    color: #fff;
}

/* Imagens do curso */

.cursoimg{
    display: flex;
    justify-content: center;
}
.curso-img{
    width: 150px;
    height: 150px;
}

/* Cards e textos Sobre */

.card-curs{
    margin: auto;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    width: 550px;
    border-radius: 10px;
    margin-left: 50px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.card-curs ul, li{
    color: #fff;
}
.card-curs p{
    text-align: center;
    color: #fff;
}
.card-curs h4{
    text-align: center;
    font-family: 'Staatliches', sans-serif;
    color: #f4732a;
}


.textcurso h1{
    font-family: 'Staatliches', sans-serif;
    color: #f4732a;
}
.textcurso{
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 150px;
    border-radius: 10px;
    margin: auto;
}



/* Index */

.textinicio2 h1{
    color: #f4732a;
}
.textinicio2{
        margin: auto;
        background-color: rgb(36, 36, 36);
        width: 250px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }

body {
    background-image: url('../css/Infoway/background.png');
}

/* Footer */

footer.row {
    text-align: center;
}


footer.bg-custom {
    background-color: rgb(36, 36, 36);
}